/web/bundles/
/app/cache/*
/app/bootstrap.php.cache

/app/config/parameters.yml

/build/
/vendor/
/bin/
/composer.phar
.travis.yml
.idea/
composer.lock
composer.phar
*~
/web/*
/web/uploads/*
/web/media/cache/*
compile
sym
/nbproject/
/web/development/
