/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
.travis.yml
.idea/
composer.lock
composer.phar
*~
/web/uploads/*
/web/media/cache/*
compile
sym
/nbproject/
/web/development/