html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #E8E3E3 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #E8E3E3 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #E8E3E3 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #E8E3E3));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #E8E3E3 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #E8E3E3 100%);
}
#form {
    width: 300px;
    margin-left: 60px;
    max-height: 320px;
    padding: 10px;
    padding-top: 20px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    -ms-box-shadow: 0 0 4px #aaa;
    -o-box-shadow: 0 0 4px #aaa;
    -moz-box-shadow: 0 0 4px #aaa;
    -webkit-box-shadow: 0 0 4px #aaa;
    box-shadow: 0 0 2px #aaa;
    color: #444;
}
#form label {
    color: white;
}
#form > div {
    margin-top: 5px;
}
#form>div button[type="submit"] {
    -ms-box-shadow: 0 0 2px #ccc;
    -o-box-shadow: 0 0 2px #ccc;
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
}
li {
    list-style: none;
}
table {
    box-shadow: 0 0 4px #bbb;
    width: 960px !important;
    margin: auto;
    color: white;
}
nav {
    width: 1000px !important;
    margin: 10px auto !important;
}
.fancyNav li a {
    font-size: 14px !important;
}
.table2 {
    box-shadow: none !important;
    border: 1px solid #aaa;
}
.table2 td {
    background-color: transparent !important;
}
.table2 tr:nth-child(odd) td {
    background-color: rgba(0,0,0,0.3) !important;
}
.table2 th {
    background-color: rgba(100,100,100,0.7)
}
.modal {
    overflow-y: auto;
}
.mod-cont {
    width: 400px;
    margin: auto;
    color: black;
}
.mod-cont .ok-icon {
    font-size: 40px;
    color: green;
}
.mod-cont .new-icon {
    font-size: 40px;
    color: orange;
    margin-left: 90px;
}
.modal-footer {
    margin-top: 0px;
}
.mod-cont>input {
    margin-bottom: 4px; 
}
.mod-cont>label {
    position: absolute;
    margin-top: 4px;
    margin-left: -80px;
}
.opt {
    float: right;
}
.search {
    width: 200px;
    margin: auto;
}
.table3 {
    width: 400px !important;
    margin-bottom: 0px !important;
}
.table3 tr:nth-child(odd) td {
    background-color: rgba(255,255,255,0.5) !important;
}
.table3 tr:nth-child(even) td {
    background-color: rgba(200,200,200,0.5) !important;
}
.table3 th,.table3 td {
    padding: 3px !important;
    font-size: 12px;
}
.table3 tr {
    background-color: rgb(53, 133, 136);
}
.table3 th {
    background-color: rgba(200,200,200,0.4);
}
.table3 tr:hover {
    background-color: rgb(0, 0, 90);
}
.nano1 {
    height: 200px !important;
    margin-top: 8px;
}
.table4 {
    border-radius: 10px;
    margin-bottom: 0px;
    width: 500px !important;
}
.table4 tr:hover {
    background-color: rgb(99, 114, 122);
}
.table4 td:first-child {
    width: 120px;
}
#modify {
    width: 800px;
    margin: auto;
    display: flex;
}
.save-button {
    margin-top: 4px;
}
.nano-table {
    height: 400px !important;
    width: 500px !important;
}
.item-remove {
    cursor: pointer;
    top: 0px !important;
    display: table-cell !important;
}
.form-style {
    margin: auto;
    margin-left: auto !important;
}
#form_date>select:nth-child(2),#form_from>select:nth-child(2),#form_to>select:nth-child(2) {
    display: none;
}