{% extends 'CantataMainBundle::layout.html.twig' %}

{% block body %}
    {% if form is defined %}
        {{ form(form, {'id': 'form', 'attr' : {'class': 'form-style'}}) }}
        <br>
        {% if addProduct is defined %}
            <div ng-app="Cantata" ng-controller="SearchController">
                <input type="text" class="form-control search" ng-model="srch" ng-keypress="search($event)" placeholder="search code"/>
            </div>
        {% endif %}
    {% endif %}
    {% if table is defined %}
        <table class="table table2">
            <tr>
                <td>Անվանումը</td>
                <td>Ապրանքի քանակը</td>
                <td>Ապրանքի մուտք/ելքը</td>
                <td>Ապրանքի մնացորդը</td>
                <td>Վաճառքը</td>
                <td>Վաճառքի գինը</td>
                <td>Ինքնարժեքը</td>
                <td>Եկամուտը</td>
            </tr>
        {% for row in table %}
            <tr>
            {% for column in row %}
                <td>
                    {{ column }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <br>
    {% endif %}
    {% if result is defined %}
        <table class="table table2">
            <tr>
                <td></td>
                <td>Վաճառքի գներով</td>
                <td>Ինքնարժեքով</td>
                <td>Շահույթը</td>
            </tr>
            {% for rows in result %}
                <tr>
                {% for column in rows %}
                    <td>
                        {{ column }}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}